.container {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: auto;
  margin-top: 100px;
  border-radius: 3px;
  display: flex;
  border: 1px solid rgba(163, 163, 163, 0.5);
  box-shadow: 1px 1px 10px rgba(163, 163, 163, 0.5);
}

.loginForm {
  padding: 60px;
}

.colorText {
  color: var(--primaryColor);
}

.input {
  width: 100%;
  display: flex;
  padding: 10px 0px;
}

.input label {
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(139, 139, 139);
  transition: 0.3s ease;
}

.input input:focus {
  outline: none;
  border-bottom: 1px solid rgb(147, 197, 197);
}

.buttonContainer {
  padding-top: 30px;
  width: 100%;
}

.image {
  width: 0px;
  height: 0px;
}

.button {
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border-radius: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.button {
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 3px;
  color: var(--primaryColor);
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  border: 1px solid var(--primaryColor);
}

.button:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

@media screen and (min-width: 765px) {
  .loginContainer {
    margin-top: 200px;
  }

  .loginContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image {
    width: 100%;
    height: 100%;
    background-image: url("../public/login.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
